# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
.venv/
venv/
env/

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/



# ============================================================
# Fichiers volumineux
# ============================================================


*.xls
*.xlsb
*.parquet
*.pkl
*.pickle
*.npy
*.npz

# ============================================================
# Logs
# ============================================================

*.log

# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# Docker
# ============================================================

*.tar
data/output/
data/input/

